.cardContainer {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: stretch;
}

.cardDisplay {
    margin: 5px;
}

.mat-card-header {
    text-align: center;
}

.cardHeader {
    margin: 5px;
    text-align: center;
}



  