<div>
  <h1 class="cardHeader">Lodging</h1>
  <h2 class="cardHeader">
    <p>*Reserve Sooner than later to guarantee a room*</p>
  </h2>
</div>
<div class="cardContainer">
  <mat-card *ngFor="let card of cards" class="cardDisplay z-depth-5">
    <mat-card-header>
      <mat-card-title>{{card.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <div>{{card.address}}</div>
    </mat-card-content>
    <!-- <img mat-card-image src="{{card.image}}" alt="{{card.title}}"> -->
    <a mat-raised-button target="_blank" href="{{card.url}}" class="submit form-group col-md-12" color="primary">Reserve a Room</a>
  </mat-card>
</div>