<div class="cardHeader">
  <h1>Lodging</h1>
  <h2>*Reserve Sooner than later to guarantee a room*</h2>
</div>
<div class="cardContainer">
  <mat-card *ngFor="let card of cards" class="cardDisplay z-depth-3">
    <mat-card-content class="cardContent">
      <mat-card-title>{{card.title}}</mat-card-title>
      <div>{{card.address}}</div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button target="_blank" href="{{card.url}}" class="submit form-group col-md-12" color="{{card.color}}">Reserve a Room</a>
    </mat-card-actions>
  </mat-card>
</div>