.cardContainer {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .cardContainer {
        display: flex;
        margin: 5px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
}
  
  .cardDisplay {
    margin: 5px;
  }
  
  .mat-card-header {
    text-align: center;
  }
  
//   .registryHeader {
//     margin-top: 15px;
//     text-align: center;
//   }
  
  .registryHeader h1 {
    font-size: xx-large;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin: 5px;
}

.seperator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seperator:after {
    border-bottom: 2px solid #E6E9EA;
    content: '';
    display: block;
    padding: 5px;
    margin: 5px;
    width: 80vw;
}

h1 {
    font-size: xx-large;
  }