<div class="carouselContainer">
  <ngb-carousel class="z-depth-3 imageCarousel" #carousel interval="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <div>
          <h1>Ceremony & Reception</h1>
          <h2>Milwaukee Public Museum</h2>
          <h1>Starts @ 18:00</h1>
        </div>
      </div>
      <a href="{{img.url}}" target="_blank" rel="nofollow noopener noreferrer">
        <div>
          <img class="venuePhoto" src="{{img.url}}" alt="{{img.description}}">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>
