<div class="carouselContainer">
  <ngb-carousel class="z-depth-3" #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
      </div>
      <a href="https://picsum.photos/id/{{i}}/2000/500" target="_blank" rel="nofollow noopener noreferrer">
        <div>
          <img class="venuePhoto" [src]="img" alt="My image {{i}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>
