<div class="instagramContainer">
  <!-- <div class="hashMessage text-center">
    <h1>Share Your Photos</h1>
    <p>Capture memories at any point during the celbration and share them using<a href="{{theGuestData.appLink}}" target="_blank"> The Guest </a>app</p>
    <p>Event Code <a href="{{theGuestData.eventLink}}" target="_blank">BJWEDDING2022</a></p>
  </div>
  <div>
    <img src="{{theGuestData.img}}" alt='{{theGuestData.alt}}' class="z-depth-3 rounded">
  </div> -->
  <div class="hashMessage text-center">
    <h1>Share Your Photos</h1>
    <p>Capture memories at any point during the celebration and share them using instagram</p>
    <p><a href="{{instagramData.appLink}}" target="_blank"> {{instagramData.hashtag}}</a></p>
    <div class="seperator"></div>
    <h2>We will be streaming the ceremony on instagram</h2>
    <p>If you're unable to come in person but would like celebrate with us please follow our instagram account to join: 
      <a href="{{instagramData.profileLink}}">{{instagramData.username}}</a>
    </p>
  </div>
  <div>
    <img src="{{instagramData.img}}" alt='{{instagramData.alt}}' class="z-depth-3 rounded">
  </div>
</div>
