<header id="home">
  <app-header></app-header>
</header>

<section id="events">
  <app-details></app-details>
</section>

<!-- <section id="venue">
  <app-venue></app-venue>
</section> -->

<section id="photos">
  <app-photos></app-photos>
</section>

<section id="instagram">
  <app-instagram></app-instagram>
</section>

<section id="hotels">
  <app-hotels></app-hotels>
</section>

<section id="registry">
  <app-registry></app-registry>
</section>

<section id="rsvp">
  <app-rsvp></app-rsvp>
</section>

<app-footer></app-footer>

