<header id="home">
  <app-header></app-header>
</header>

<div class="seperator"></div>

<section id="covidPrecautions">
  <app-covid-reminder></app-covid-reminder>
</section>

<section id="events">
  <app-details></app-details>
</section>

<div class="seperator"></div>

<section id="weddingParty">
  <!-- <app-wedding-party></app-wedding-party> -->
  <app-wedding-party-carousel></app-wedding-party-carousel>
</section>

<div class="seperator"></div>

<section id="photos">
  <app-photos></app-photos>
</section>

<div class="seperator"></div>

<section id="instagram">
  <app-instagram></app-instagram>
</section>

<div class="seperator"></div>

<section id="hotels">
  <app-hotels></app-hotels>
</section>

<div class="seperator"></div>

<section id="visit">
  <app-visit></app-visit>
</section>

<div class="seperator"></div>

<section id="registry">
  <app-registry></app-registry>
</section>

<div class="seperator"></div>

<!-- <section id="rsvp">
  <app-rsvp></app-rsvp>
</section> -->

<app-footer></app-footer>

