.header h1 {
    font-size: xx-large;
}

.header {
    margin: 5px;
    text-align: center;
}

.cardContainer {
    display: flex;
    margin: 5px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.cardDisplay {
    margin: 5px;
}

.cardHeader {
    margin: 5px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}