.cardDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 10vh;
}

.inputPerson {
  margin-top: 10px;
}

.personAdd {
  display: flex;
  flex-direction: row-reverse;
}

.cardDisplay h1{
  font-size: xx-large;
}
