<!-- Material form login -->
<div class="cardDisplay">
  <h1>RSVP</h1>
  <h2>Come Join and Get Swifty!!</h2>
  <mat-card class="z-depth-5">

    <mat-card-title>
      RSVP
    </mat-card-title>

    <mat-card-content class="px-lg-5 pt-0">
      <form (ngSubmit)="onSubmit()" #rsvpForm="ngForm">
        <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field class="form-group col-md-12">
            <mat-label>Name</mat-label>
            <input matInput required>
          </mat-form-field>
        </div>

        <div class="form-row personAdd">
          <!-- <mat-checkbox [(ngModel)]="hasPlusOne" name="hasPlusOne" class="form-group col-md-10">Bringing Plus One?</mat-checkbox> -->
          <button mat-raised-button class="form-group" color="primary" (click)="addPerson()">
            <mat-icon inline="true">person_add</mat-icon>
            Add Guest
          </button>
        </div>

        <div class="form-row" *ngFor="let person of people; let i = index;">
          <mat-form-field class="form-group col-md-12 inputPerson">
            <mat-label>Name</mat-label>
            <input matInput required [(ngModel)]="person.fullName" name="person_{{i}}"/>
            <button mat-mini-fab matSuffix color="primary" (click)="removePerson(i)">
              <mat-icon>person_remove</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field *ngIf="hasPlusOne" class="form-group col-md-12">
            <mat-label>Name of Plus One</mat-label>
            <input matInput required>
          </mat-form-field>
        </div> -->

        <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Invitation Code</mat-label>
            <input matInput required>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Message to Us</mat-label>
            <textarea matInput maxlength="200"></textarea>
          </mat-form-field>
        </div>


        <button mat-raised-button class="submit form-group col-md-12" type="submit" color="primary">
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
