<!-- Material form login -->
<div class="cardDisplay">
  <h1>RSVP</h1>
  <h2>Come Join and Get Swifty!!</h2>
  <mat-card class="z-depth-5">

    <mat-card-title>
      RSVP
    </mat-card-title>

    <mat-card-content class="px-lg-5 pt-0">
      <form [formGroup]="rsvpForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>

          <mat-form-field class="form-group col-md-12">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required>
          </mat-form-field>

          <mat-form-field class="form-group col-md-12">
            <mat-label>Dietary Restrictions</mat-label>
            <textarea formControlName="foodRestrictions" matInput maxlength="200" placeholder="Tree nuts, Vegatarian, etc..."></textarea>
          </mat-form-field>
        </div>

        <div formArrayName="guests" class="form-row" *ngFor="let guest of rsvpForm.get('guests')['controls']; let i = index;">
          <mat-divider></mat-divider>
          <div [formGroupName]="i">
            <mat-form-field class="form-group col-md-12 inputPerson">
              <mat-label>Name</mat-label>
              <input formControlName="guestName" matInput required name="guest{{i}}"/>
            </mat-form-field>
  
            <mat-form-field class="form-group col-md-12">
              <mat-label>Dietary Restrictions</mat-label>
              <textarea formControlName="guestFoodRestrictions" matInput maxlength="200" placeholder="Tree nuts, Vegatarian, etc..."></textarea>
            </mat-form-field>
          </div>

          <div>
            <button mat-fab matSuffix color="primary" class="mt-3" (click)="removeGuest(i)">
              <mat-icon>person_remove</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-row personAdd">
          <!-- <mat-checkbox [(ngModel)]="hasPlusOne" name="hasPlusOne" class="form-group col-md-10">Bringing Plus One?</mat-checkbox> -->
          <button mat-raised-button class="form-group" color="primary" (click)="addGuest()">
            <mat-icon inline="true">person_add</mat-icon>
            Add Guest
          </button>
        </div>

        <!-- <div class="form-row">
          <mat-form-field *ngIf="hasPlusOne" class="form-group col-md-12">
            <mat-label>Name of Plus One</mat-label>
            <input matInput required>
          </mat-form-field>
        </div> -->

        <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Invitation Code</mat-label>
            <input formControlName="inviteCode" matInput required>
          </mat-form-field>
        </div>

        <!-- <div class="form-row">
          <mat-form-field class="form-group col-md-12">
            <mat-label>Message to Us</mat-label>
            <textarea matInput maxlength="200"></textarea>
          </mat-form-field>
        </div> -->


        <button [disabled]="!rsvpForm.valid" mat-raised-button class="submit form-group col-md-12" type="submit" color="primary">
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
