<h1 mat-dialog-title>Covid Precautions</h1>
<mat-dialog-content>
    <h2>*NOTE*</h2>
    <p>
        We wanted to share important safety protocols 
        we will be following during the event. You and our wedding vendors’ health and 
        safety are our #1 priority. If you are unable to follow these protocols, 
        which were created with CDC guidelines and local and state ordinances at the 
        forefront of our minds, we ask that you reconsider attending the in-person event. 
    </p>

    <p>
        Please note that these are subject to change and were created with the CDC Guidelines 
        and local and state ordinances at the time.  Please check here for the latest updates.  
    </p>

    <p>
        For the most up-to-date protocols, 
        please check the CDC and Wisconsin Department of Health Services.
    </p>

    <h3>Links</h3>
    <mat-list>
        <mat-list-item>
            <a mat-raised-button color="primary" target="_blank" href="https://www.cdc.gov/" class="form-group col-md-12">CDC Guidelines</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-raised-button color="primary" target="_blank" href="https://www.dhs.wisconsin.gov/covid-19/index.htm" class="form-group col-md-12">Wisconsin Guidelines</a>
        </mat-list-item>
    </mat-list>

    <div class="seperator"></div>

    <h2>Vaccination/Testing</h2>
    <p>
        For the safety of our guests please consider getting vaccinated and/or getting tested
        before attending.  We will not be checking for proof of vaccination or negative covid
        test.
    </p>

    <h2>Masks</h2>
    <p>Masks are not required, but are appreciated.</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">I Understand</button>
</mat-dialog-actions>

