.detailContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eventsContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

.cardContainer {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: stretch;
  max-width: 600px;
}

.cardDisplay {
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
  .cardContainer {
      display: flex;
      margin: 5px;
      padding: 5px;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      max-width: 600px;
  }
}