/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.view {
  //Insert image here
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 768px) {
  .navbar:hover {
    background-color: rgba(0, 0, 0, .7);
  }
  #navbarCollapse {
    height: 100vh !important;
  }

  @media (orientation: portrait) {
    #navbarLinks {
      height: 90vh;
      display: flex;
      justify-content: space-evenly;
    }

    .nav-item {
      height: 100vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8vh;
    }
  }

  @media (orientation: landscape) {
    #navbarLinks {
      height: 80vh;
      display: flex;
      justify-content: space-evenly;
    }

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8vh;
    }
  }
}
