<!-- <mat-list>
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-list-item>
    <a mat-button>
      Our Story
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button>
      Details
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button>
      Photos
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button>
      Registry
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button>
      Venue
    </a>
  </mat-list-item>
  <mat-list-item>
    <a mat-button>
      RSVP
    </a>
  </mat-list-item>
</mat-list> -->

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#">
      <strong>Logo Here</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Our Story</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Details</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Photos</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Venue</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Registry</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">RSVP</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
