<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
  <mdb-navbar-brand>
    <a pageScroll class="logo navbar-brand" href="#home">
      <strong>Logo Here</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul id="navbarLinks" class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#about">Our Story</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#details">Details</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#engagement">Engagement</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#instagram">Instagram</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#venue">Venue</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#registry">Registry</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" href="#rsvp">RSVP</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
