<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a pageScroll class="logo navbar-brand" href="#home">
      <strong>Logo Here</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul id="navbarLinks" class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#about">Our Story</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#details">Details</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#engagement">Engagement</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#instagram">Instagram</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#venue">Venue</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#registry">Registry</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a pageScroll class="nav-link" [routerLink]="['/home']" href="#rsvp">RSVP</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
