<div class="view intro">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <h2>Come Join Us For Our Wedding Celebration</h2>
        <h1>May 14, 2022</h1>
        <h2>Let's get Riggity Riggity Wrecked Son!!</h2>
        <button pageScroll href="#events" mat-fab class="to-next" color="primary">
          <mat-icon class="icon-display">keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
